# Python
# Compila los archivos fuente (.py) en una representación de bytes intermedia llamada bytecode, que se almacena en archivos con la extensión .pyc.
**/__pycache__/
**/flask_session/

# Environment variables
.env

# Virtual environments
venv/
env/

# IDEs
.vscode/
.idea/

# Logs
*.log
