{% extends "layout.html" %} 
{% block title %} Preguntados {% endblock %} 
{% block main %}
<div class="col-12">
    <div class="d-flex align-items-center" >
        <!-- BOTON PARA REGRESAR AL HOME provincial -->        
        <div>
            <a class="btn" href="/home" ><i class="fa fa-home"></i> Home</a>                
        </div>
        <div id="historia" > 
            <h1 style="padding-left: 68%;">Preguntados</h1>
        </div>              
    </div>
        <h1>Proximamente</h1>
</div>
{% endblock %} 
